@import "tailwindcss";
:root {
  /* Colors */
  --black-1: #141414;
  --black-2: #0e100f;
  --black-3: hsl(0, 0%, 40%);
  --green-1: #4f7d73;
  --white-1: #fffce1;
  --white-2: hsl(210, 17%, 89%);
  --white-3: hsl(210, 17%, 80%);

  --gold-1: hsl(45, 100%, 68%);
  --red-1: #df817a;

  /* Theme variables */

  --base-100: var(--black-1);
  --base-200: var(--black-2);
  --base-300: var(--black-3);
  --base-content-100: var(--white-1);
  --base-content-200: var(--white-2);
  --base-content-300: var(--white-3);
  --accent: var(--red-1);
}

[data-theme="dark"] {
  --base-100: var(--white-1);
  --base-200: var(--white-2);
  --base-300: var(--white-3);
  --base-content-100: var(--black-1);
  --base-content-200: var(--black-2);
  --base-content-300: var(--black-3);
  --accent: var(--red-1);
}

@theme {
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-content-100: var(--base-content-100);
  --color-base-content-200: var(--base-content-200);
  --color-base-content-300: var(--base-content-300);
  --color-accent: var(--accent);
}

html {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@layer base {
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
  }
  hr {
    all: unset;
    height: 1px;
    background-color: var(--base-content-100);
    width: 100%;
    display: block;
  }
}

@layer components {
  .gap-layout {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 1.7647rem + 5.6471vw, 6rem);
  }
  .pt-section {
    padding-top: clamp(4rem, 2.3529rem + 7.5294vw, 8rem);
  }

  .py-section {
    padding-top: clamp(4rem, 2.3529rem + 7.5294vw, 8rem);
    padding-bottom: clamp(2rem, 1.1765rem + 3.7647vw, 4rem);
  }
}

body {
  background-color: var(--base-100);
  color: var(--base-content-100);
}
